@font-face {
  font-family: "iconfont"; /* Project id 2759902 */
  src: url('~@/static/css/iconfont/iconfont.ttf?t=1659335713015') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongzhi:before {
  content: "\e62c";
}

.icon-piliangcaozuo:before {
  content: "\e62d";
}

.icon-shengbobodong:before {
  content: "\e68f";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e66d";
}

.icon-zhangjie:before {
  content: "\e628";
}

.icon-fenlei:before {
  content: "\e629";
}

.icon-zhangjie1:before {
  content: "\e62a";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-icon_dingyue:before {
  content: "\e6ba";
}

.icon-zujianICON-dingyue-bai:before {
  content: "\e62b";
}

.icon-yuanxingxuanzhong:before {
  content: "\e766";
}

.icon-gongjulan_dingshi:before {
  content: "\e62e";
}

.icon-zhengxu:before {
  content: "\e626";
}

.icon-daoxu-:before {
  content: "\e627";
}

.icon-bofang2:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e625";
}

.icon-bofang:before {
  content: "\e617";
}

.icon-houtui15:before {
  content: "\e618";
}

.icon-shijian:before {
  content: "\e619";
}

.icon-xiazai-1:before {
  content: "\e61a";
}

.icon-bofang-1:before {
  content: "\e61b";
}

.icon-xiazai1:before {
  content: "\e61c";
}

.icon-kuaijin:before {
  content: "\e61d";
}

.icon-qingdan:before {
  content: "\e61e";
}

.icon-icon-dianzan1:before {
  content: "\e61f";
}

.icon-shouye:before {
  content: "\e620";
}

.icon-shouye-1:before {
  content: "\e621";
}

.icon-bofang1:before {
  content: "\e622";
}

.icon-xiazai2:before {
  content: "\e623";
}

.icon-ting:before {
  content: "\e616";
}

.icon-bofang-2:before {
  content: "\e612";
}

.icon-liuyan:before {
  content: "\e613";
}

.icon-bofang-3:before {
  content: "\e614";
}

.icon-weixuan:before {
  content: "\e615";
}

.icon-icon-dianzan:before {
  content: "\e606";
}

.icon-a-fanhui2:before {
  content: "\e607";
}

.icon-fanhui:before {
  content: "\e608";
}

.icon-pinglun:before {
  content: "\e609";
}

.icon-lishi:before {
  content: "\e60a";
}

.icon-a-shoucang1:before {
  content: "\e60b";
}

.icon-a-shoucang3:before {
  content: "\e60d";
}

.icon-xiazai:before {
  content: "\e60e";
}

.icon-xuanzhuan:before {
  content: "\e60f";
}

.icon-shoucang:before {
  content: "\e610";
}

.icon-sousuo1:before {
  content: "\e611";
}

.icon-sousuo:before {
  content: "\e605";
}

